<?xml version="1.0" encoding="utf-8" ?>

<!--nlog 宣告 -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!--[變數] 樣板 -->
  <variable name="myvar" value="myvalue"/>
  
  <!--[變數] 文字樣板 -->
  <variable name="Layout" value="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${newline}"/>
  <variable name="LayoutFatal" value="${longdate} | ${level:uppercase=true} | ${logger} | ${message} | ${exception:format=tostring} ${newline}"/>
  
  <!--[變數] 檔案位置 -->
  <variable name="LogTxtDir" value="Logs//"/>
  <variable name="LogTxtLocation" value="${shortdate}_AllLog.txt"/>
  <variable name="LogTxtLocationFatal" value="${shortdate}_ErrorLog.txt"/>

  <targets>
    
    <!-- 必須放在第一個目標 -->
    <target name="m" xsi:type="MethodCall" className="Novels.Log.ShowLogAppender, Novels.Log" methodName="LogMethod">
      <parameter layout="${level}" />
      <parameter layout="${message}" />
    </target>

    <target name="File" xsi:type="File" fileName="${LogTxtDir}${LogTxtLocation}" layout="${Layout}" archiveAboveSize="10000000"/>

    <target name="FileFatal" xsi:type="File" fileName="${LogTxtDir}${LogTxtLocationFatal}" layout="${LayoutFatal}" archiveAboveSize="10000000"/>

  </targets>

  <rules>
    <!-- 必須放在第一個規則 -->
    <logger name="*" minlevel="Debug" writeTo="m" />

    <logger name="*" levels="Info,Warn,Debug,Trace" writeTo="File" final="true"/>
    <logger name="*" level="Error" writeTo="FileFatal"/>

  </rules>
  
</nlog>
